// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }


  /* Style for the top navigation bar */
.top-nav {
  background-color: #fff; /* White background */
  color: #000; /* Black text color */
  padding: 10px; /* Padding around the links */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center align content */
  max-width: 650px;
  margin: 0 auto;
}

/* Style for the left-aligned links */
.left-links {
    margin-right: auto; /* Push links to the left */
}

/* Style for the right-aligned links */
.right-links {
    margin-left: auto; /* Push links to the right */
}

/* Style for all links */
.top-nav a {
    text-decoration: none; /* Remove underline */
    color: #000; /* Black text color */
    margin: 0 10px; /* Add some space between links */
}

body {
  color: black;
  font-family: "Fira Code", monospace;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

hr {
  display: block;
  border: none;
  border-top: 1px solid #ccc;
  margin: -15px 0 0;
}


table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}